<mat-card class="activity-widget">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>history</mat-icon>
      Recent Activity
    </mat-card-title>
    <div class="header-actions">
      <button mat-icon-button (click)="refresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="activity-list" *ngIf="activities.length > 0; else noActivity">
      <div
        *ngFor="let activity of activities; let last = last"
        class="activity-item"
        [class.last]="last"
      >
        <div class="activity-icon" [class]="'activity-' + activity.type">
          <mat-icon>{{ getActivityIcon(activity.type) }}</mat-icon>
        </div>

        <div class="activity-content">
          <div class="activity-title">{{ activity.title }}</div>
          <div class="activity-description">{{ activity.description }}</div>
          <div class="activity-time">{{ formatTime(activity.timestamp) }}</div>
        </div>
      </div>
    </div>

    <ng-template #noActivity>
      <div class="no-activity">
        <mat-icon>inbox</mat-icon>
        <p>No recent activity</p>
      </div>
    </ng-template>

    <div class="activity-footer" *ngIf="activities.length > 0">
      <button mat-button color="primary" (click)="viewAll.emit()">
        View All Activity
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
